/// Hello component styles.
///
/// @author Anirvan Bhaduri
/// @since 8th Dec 2018

/// Place red background on hello blocks.
.hello {
  background-color: red;

  // Change background to green when hovering
  &:hover {
    background-color: green;
  }
}

/// Change font colour to blue for any title's in hello blocks.
.hello__title {
  color: blue;
}
