/// TakeAwayApp component styles.
///
/// @author Anirvan Bhaduri
/// @since 10th Dec 2018

@import 'UI/colours';
@import 'UI/fonts';
@import 'UI/dimensions';

// Render main container
.takeaway-app {
  background-color: $theme-background;
  height: $app-height;
  padding: 10px;
  font-family: $container-font-family;
  border: 2px solid $takeaway-color;
  border-radius: 16px;
  text-align: center;

  @media screen and (min-width: $screen-break-width) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

// Title element for takeaway component
.takeaway-app__title {
  font-style: italic;
}

// Body element for takeaway component
.takeaway-app__body {
  width: $app-body-width;
  height: 90%;
  margin: 0;
  display: inline-block;
  text-align: center;
}
