/// Favourite component styles.
///
/// @author Anirvan Bhaduri
/// @since 10th Dec 2018

@import '../../UI/colours';
@import '../Sort/_sort.scss';

// The Favourite component's styles
.favourite {
  @include inline-component();
  @include nice-border();
  background: $takeaway-color;
  color: white;
  float: right;
}
