/// Favourite component styles.
///
/// @author Anirvan Bhaduri
/// @since 10th Dec 2018

@import '../../../UI/_colour_constants.scss';
@import '../Sort/_sort.scss';

// The Favourite component's styles
.favourite {
  @extend .sort;

  @media screen and (max-width: $screen-break-medium) {
    width: 50%;
    margin-top: 10px;
  }

  @media screen and (max-width: $screen-break-small) {
    width: 50%;
    margin-top: 10px;
  }
}
