/// Restaurant component styles.
///
/// @author Anirvan Bhaduri
/// @since 10th Dec 2018

@import '../../UI/colours';
@import '../../UI/dimensions';
@import '../../UI/mixins';

// The Restaurant's styles
.restaurant {
  @include nice-border();
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
  overflow: auto;

  &:hover {
    background: $color-dark;
    color: white;
  }
}

.restaurant__name {
  @include inline-component();
  width: 25%;
}

.restaurant__status {
  @include inline-component();
  width: 25%;
}

.restaurant__sort {
  @include inline-component();
}