/// Sort component styles.
///
/// @author Anirvan Bhaduri
/// @since 10th Dec 2018

@import '../../UI/colours';
@import '../../UI/dimensions';
@import '../../UI/mixins';

// The sort dropdown's styles
.sort {
  @include centre-container();
  margin-top: 10px;
  margin-bottom: 20px;
}

// The sort select's styles
.sort__select {
  @include nice-border();
  color: white;
  background: $takeaway-color;
  width: 100%;
  font-size: inherit;
}

// The sort dropdown option's styles
.sort__option {
  @include nice-border();
  color: white;
  background: $takeaway-color;
  font-size: inherit;
}
